"C:\Users\utilisateur\Documents\GitHub\CS-433-Project_2_Ant_Segmentation\original"
"C:\Users\utilisateur\Documents\GitHub\CS-433-Project_2_Ant_Segmentation\Nils"
"C:\Users\utilisateur\Documents\GitHub\CS-433-Project_2_Ant_Segmentation\images_finales"